@model List<ENetCareMVC.Repository.Data.DistributionCentreLosses>
@{  string style1 = "width:120px; font-size:14px;"; }
@{  ViewBag.Title = "Distribution Centre Losses";   }
@helper  getStyle(int row) { if ((row % 2) == 0) { WriteLiteral("background-color:#F2F0F0;"); } else { WriteLiteral(""); } }

<h2>Distribution Centre Losses Report</h2><br/><br/>


<table>
<tr><td></td>    <td style='@style1' ><b>Centre Name</b></td>    <td style='@style1' ><b>Losses Value</b></td></tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        var rowObj = Model[i];
        <tr>
            <td style='@getStyle(i)' >  </td>
            <td style='@getStyle(i)' > @rowObj.DistributionCenterName</td>
            <td style='@getStyle(i)' > @rowObj.TotalLossDiscardedValue</td>
        </tr>
    }
    <tr><td></td>    <td>Total</td>    <td></td></tr>
</table>

@* <br /><br />number of rows: @Model.Count(); *@



