@model List<ENetCareMVC.Repository.Data.DoctorActivity>
@{
    string headerStyle = "width:200px; font-size:14px;", rowStyle = "";
    double grandTotal = 0, ratio = 0;
    ViewBag.Title = "Doctors Activity";
}





<h2>Doctor's Activity Report</h2><br /><br />
<table>
    <tr><td style='@headerStyle'><b> Doctor Id </b></td>    <td style='@headerStyle'><b>Doctor Name</b></td>  <td style='@headerStyle'><b>Package Type Id</b></td>
        <td style='@headerStyle'><b> Description</b></td>    <td style='@headerStyle'><b>Package Count</b></td>  <td style='@headerStyle'><b>Total Value</b></td></tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        var rowObj = Model[i];
        grandTotal = +(double)rowObj.TotalPackageValue;
        if (i % 2 == 0) { rowStyle = "background-color:#F2F0F0"; } else { rowStyle = ""; }
        <tr>
            <td style='@rowStyle'> @rowObj.DoctorId     </td>
            <td style='@rowStyle'> @rowObj.DoctorName   </td>
            <td style='@rowStyle'> @rowObj.PackageTypeId</td>
            <td style='@rowStyle'> @rowObj.PackageTypeDescription</td>
            <td style='@rowStyle'> @rowObj.PackageCount      </td>
            <td style='@rowStyle'> @rowObj.TotalPackageValue  </td>
        </tr>
    }
    <tr>    <td></td>    <td></td>     <td></td>   <td></td>    <td></td>  <td></td> </tr>
    <tr>    <td></td>    <td></td>     <td></td>   <td></td>    <td>Total:</td>  <td>@grandTotal</td> </tr>
</table><br /><br /><br />



@* <br /><br />number of rows: @Model.Count(); *@



