@model List<ENetCareMVC.Repository.Data.StockTaking>
@{
    string headerStyle = "width:160px; font-size:14px;", rowStyle = "";
    double grandTotal = 0;
    ViewBag.Title = "Stocktaking";
}





<h2>Stocktaking Report</h2><br /><br />
<table>
    <tr>
        <td style='@headerStyle'><b> Package Id       </b></td>
        <td style='@headerStyle'><b> Barcode          </b></td>
        <td style='@headerStyle'><b> Package Type Id  </b></td>
        <td style='@headerStyle'><b> Type Description </b></td>
        <td style='@headerStyle'><b> Expiration Date  </b></td>
        <td style='@headerStyle'><b> Cost per Package </b></td>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        var rowObj = Model[i];
        grandTotal = +(double)rowObj.CostPerPackage;
        if (i % 2 == 0) { rowStyle = "background-color:#F2F0F0"; } else { rowStyle = ""; }
        int daysLeft =   (rowObj.ExpirationDate - DateTime.Today).Days;
        if (daysLeft < 8) { rowStyle = rowStyle + " text-color:orange;"; }
        if (daysLeft < 1) { rowStyle = rowStyle + " text-color:red;";    }   
        
        <tr>
            <td style='@rowStyle'> @rowObj.PackageId              </td>
            <td style='@rowStyle'> @rowObj.BarCode                </td>
            <td style='@rowStyle'> @rowObj.PackageTypeId          </td>
            <td style='@rowStyle'> @rowObj.PackageTypeDescription </td>
            <td style='@rowStyle'> @rowObj.ExpirationDate         </td>
            <td style='@rowStyle'> @rowObj.CostPerPackage         </td>
        </tr>
    }
    <tr>    <td></td>    <td></td>     <td></td>   <td></td>    <td></td>  <td></td> </tr>
    <tr>    <td></td>    <td></td>     <td></td>   <td></td>    <td>Total:</td>  <td>@grandTotal</td> </tr>
</table><br /><br /><br />



@* <br /><br />number of rows: @Model.Count(); *@



