@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datepicker")

</head>
<body>
    <img style="position: absolute; top: 5px; left: 60px" src="~/Images/enetcare08small.png" width="573" height="78" align="top" />  @*  290 x 40 *@
    
    @{
        ENetCareMVC.Repository.Repository.IEmployeeRepository repository = new ENetCareMVC.Repository.Repository.EmployeeRepository(System.Configuration.ConfigurationManager.ConnectionStrings["ENetCareLiveAll"].ConnectionString);
        var employeeService = new ENetCareMVC.BusinessService.EmployeeService(repository);
        
        ENetCareMVC.Repository.Data.Employee employee = null;

        string username = User.Identity.Name;
        if (!string.IsNullOrEmpty(username))
        {
            employee = employeeService.Retrieve(username);
        } 
    }
    @if (employee != null)
    { 
    <div style="position: absolute; top: 20px; left: 680px">
        <table>
            <tr><td style="text-align:right;">Username:</td><td>&nbsp;<b>@employee.UserName (@employee.EmployeeType.ToString())</b></td></tr>
            <tr><td style="text-align:right;">Full Name:</td><td>&nbsp;<b>@employee.FullName</td></tr>
            <tr><td style="text-align:right;">Location:</td><td>&nbsp;<b>@employee.Location.Name</b></td></tr>
        </table>
    </div>
    }
    <br />
    <br />

    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <nav>
                        @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel")
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ENet Care Management System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
