@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datepicker")

</head>
<body>
    <img src="~/Images/enetcare08small.png" width="290" height="40" align="top" />
    
    @{
        string connectionString = System.Configuration.ConfigurationManager.ConnectionStrings["ENetCareLiveAll"].ConnectionString;
        var context = new ENetCareMVC.Repository.Data.Entities(connectionString);

        string userId = User.Identity.GetUserId();
        ENetCareMVC.Repository.Data.Employee employee = null;
        if (!string.IsNullOrEmpty(userId))
        {
            employee = context.Employee.FirstOrDefault(e => e.UserId == new Guid(userId));
        }
    }
    @if (employee != null)
    { 
    <div style="position: absolute; top: 30px; left: 600px">
        <table>
            <tr><td style="text-align:right;">Username:</td><td>&nbsp;<b>@employee.UserName (@employee.EmployeeType.ToString())</b></td></tr>
            <tr><td style="text-align:right;">Full Name:</td><td>&nbsp;<b>@employee.FullName</td></tr>
            <tr><td style="text-align:right;">Location:</td><td>&nbsp;<b>@employee.Location.Name</b></td></tr>
        </table>
    </div>
    }
    <br />
    <br />

    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <nav>
                        @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel")
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
