@using ENetCareMVC.Repository.Data

@model ENetCareMVC.Web.Models.EditEmployeeViewModel
@{
    ViewBag.Title = "Edit Employee";
}

<h2>Edit Employee</h2>

@using (Html.BeginForm("EditEmployee", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Edit an Employee</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.RadioButtonFor(m => m.EmployeeType, EmployeeType.Agent, new { @disabled = "disabled" }) Agent
        @Html.RadioButtonFor(m => m.EmployeeType, EmployeeType.Doctor, new { @disabled = "disabled" }) Doctor
        @Html.RadioButtonFor(m => m.EmployeeType, EmployeeType.Manager, new { @disabled = "disabled" }) Manager
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LocationCentreId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.LocationCentreId,
             new SelectList(Model.DistributionCentres, "CentreId", "Name"))
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Update" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
